# Ingest topics
/topics/ingest-metrics.yaml                                @getsentry/owners-ingest @getsentry/owners-snuba
/topics/ingest-performance-metrics.yaml                    @getsentry/owners-ingest @getsentry/owners-snuba
/topics/ingest-replay-recordings.yaml                      @getsentry/owners-ingest @getsentry/owners-snuba @getsentry/replay

# Topics consumed by Snuba
/topics/events.yaml                                        @getsentry/owners-snuba
/topics/transactions.yaml                                  @getsentry/owners-snuba
/topics/outcomes.yaml                                      @getsentry/owners-snuba
/topics/snuba-metrics.yaml                                 @getsentry/owners-snuba
/topics/snuba-generic-metrics.yaml                         @getsentry/owners-snuba
/topics/generic-events.yaml                                @getsentry/owners-snuba @getsentry/issues
/topics/ingest-replay-events.yaml                          @getsentry/owners-snuba @getsentry/replay
/topics/processed-profiles.yaml                            @getsentry/owners-snuba @getsentry/profiling
/topics/profiles-call-tree.yaml                            @getsentry/owners-snuba @getsentry/profiling

# Schemas
/schemas/profile-metadata.v1.schema.json                   @getsentry/profiling
/schemas/profile-functions.v1.schema.json                  @getsentry/profiling

# Examples
/examples/profile-metadata/                                @getsentry/profiling
/examples/profile-functions/                               @getsentry/profiling

# Internal Snuba topics
/topics/snuba-queries.yaml                                 @getsentry/owners-snuba

# Subscription results published by Snuba for Sentry's result consumer
/topics/events-subscription-results.yaml                  @getsentry/owners-snuba @getsentry/workflow
/topics/transactions-subscription-results.yaml            @getsentry/owners-snuba @getsentry/workflow
/topics/sessions-subscription-results.yaml                @getsentry/owners-snuba @getsentry/workflow
/topics/metrics-subscription-results.yaml                 @getsentry/owners-snuba @getsentry/workflow
/topics/generic-metrics-subscription-results.yaml         @getsentry/owners-snuba @getsentry/workflow
/schemas/subscription-result.v1.schema.json               @getsentry/owners-snuba @getsentry/workflow
/examples/subscription-results/                           @getsentry/owners-snuba @getsentry/workflow

# Search and storage is the default owner
* @getsentry/owners-snuba
