include python/requirements.txt
recursive-include python/sentry_kafka_schemas/topics *
recursive-include python/sentry_kafka_schemas/schemas *
recursive-include python/sentry_kafka_schemas/examples *
