name: build

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

permissions:
  contents: write
  pull-requests: write
jobs:
  dist:
    name: Create wheel and source distribution
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.13
      - run: make build
      - uses: actions/upload-artifact@v4
        if: github.event_name != 'pull_request'
        with:
          name: ${{ github.sha }}
          path: dist/*

      # see what files have been created
      - run: ls -lhrt dist

      # validate that the built wheel is actually importable
      - run: python -m venv /tmp/venv
      - run: /tmp/venv/bin/pip install dist/*.whl
      - run: /tmp/venv/bin/python -c 'import sentry_kafka_schemas'
