name: build

on:
  push:
    branches:
      - main
      - release/**

jobs:
  dist:
    name: Create wheel and source distribution
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: make build
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: dist/*

      # validate that the built wheel is actually importable
      - run: python -m venv /tmp/venv
      - run: /tmp/venv/bin/pip install dist/*.whl
      - run: /tmp/venv/bin/python -m sentry_kafka_schemas
