name: ci
on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  sentry-typing:
    name: "Sentry type checking"
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: astral-sh/setup-uv@884ad927a57e558e7a70b92f2bccf9198a4be546 # v6
        name: Setup uv
        with:
          version: "0.8.2"
          enable-cache: false
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        name: Checkout sentry-kafka-schemas
        with:
          path: sentry-kafka-schemas
      - name: Build sentry-kafka-schemas
        run: |
          cd sentry-kafka-schemas
          python -m pip install --upgrade pip
          make install
          make build
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        name: Checkout sentry
        with:
          repository: getsentry/sentry
          path: sentry
      - uses: getsentry/action-setup-venv@7acb66f8226c9170009a774bfcec671b097ebe0f
        with:
          working-directory: sentry
          cache-dependency-path: sentry/uv.lock
          install-cmd: uv sync --frozen --active
      - name: setup sentry
        run: |
          cd sentry
          which python
          python -m tools.fast_editable --path .
          sentry init
      - name: Install sentry-kafka-schemas
        run: |
          cd sentry
          uv pip install ../sentry-kafka-schemas/dist/*.whl
      - name: Run mypy for sentry
        run: |
          cd sentry
          PYTHONWARNINGS=error::RuntimeWarning mypy
