name: json-schema-diff

on:
  pull_request:

env:
  JSON_SCHEMA_DIFF_VERSION: 0.1.2

jobs:
  post_changes:
    name: Post new JSON schema changes from migrations
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        name: Checkout master for diffing
        with:
          ref: main
      - uses: actions/checkout@v3
        name: Checkout HEAD of code that may have migration changes
        with:
          clean: false

      - name: Cache json-schema-diff
        id: cache-json-schema-diff-bin
        uses: actions/cache@v3
        with:
          path: ~/.cargo/bin/json-schema-diff
          key: ${{ runner.os }}-json-schema-diff-bin-v${{ env.JSON_SCHEMA_DIFF_VERSION }}
      - name: Download and build json-schema-diff
        if: steps.cache-json-schema-diff-bin.outputs.cache-hit != 'true'
        run: |
          cargo install json-schema-diff \
            --version $JSON_SCHEMA_DIFF_VERSION \
            --features build-binary
      - name: Generate schema diff
        uses: getsentry/action-migrations@v1.0.8
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          # i have no clue what this parameter is for, but i have to set it to
          # a nonempty string to get any results
          migration: "bogusvalue"
          cmd: python ./scripts/json_schema_changes.py --no-exit-code
      - name: Fail if any breaking changes found
        run: python ./scripts/json_schema_changes.py
